<!-- Objetivos -->
<section class="success" id="objetivos">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Objetivos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <ol class="objective-list">
          <li> 1. Ofrecer espacio, comunidad y recursos para la comunidad académica que busca responder preguntas de investigación vinculadas con las HD.</li>
          <li> 2. Ser un centro de impulso a proyectos, capacitación y oportunidades para la comunidad académica que busquen vincularse con herramientas y técnicas digitales.</li>
          <li> 3. Desarrollar prototipos y pruebas de concepto para diferentes disciplinas.</li>
          <li> 4. Apoyar la adquisición de habilidades en HD para fines de investigación y enseñanza a través de consultas, capacitación y conferencias de invitados.</li>
        </ol>
        <p class="objective-text"><em>“Usar tecnologías y métodos digitales para estudiar temas humanísticos o estudiar lo digital como fenómeno cultural”</em></p>
      </div>
    </div>
  </div>
</section>
